/* Media Query */
/* Tablet  */
@media screen and (max-width:1920px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width:767px) {
     .container {
        max-width: 100%;
     }
  
  
}
@media (max-width:479px) {
    .row{
        flex-wrap: wrap;
        gap: 3rem;
    }
    .lessons .col,
    .steps .col,
    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
        margin-bottom: 30px;
   }
   .why-us{
    background-color: black;
    padding: 3rem 0;
    margin-bottom: 0;
   }
   .steps{
    margin-bottom: 0;
   }
}